<!DOCTYPE html>
<html>
  <head>
    <title>Title</title>
    <meta charset="utf-8">
    <style>
      @import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
      @import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
      @import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);

      body { font-family: 'Droid Serif'; }
      h1, h2, h3 {
        font-family: 'Yanone Kaffeesatz';
        font-weight: normal;
      }
      .remark-code, .remark-inline-code { font-family: 'Ubuntu Mono'; }
    </style>
  </head>
  <body>
    <textarea id="source">

class: center, middle

# UI/UX Technical Vision

---

# Agenda

1. Goals
1. Technologies
1. Combining everything
1. Discussion

---

# Goals

* Consistent UI
* Consistent implementation of UI

---

class: center, middle

# Technologies

---

# ViewComponent

* Created by GitHub
* Encapsulates part of a view
* Main purpose is testability
* Use instead of partials, helpers and decorators

???

* Views in Rails are not first class
* Views are not encapsulated
* Each view consists of a method of a view object

---

# ViewComponent

## Usage

View component:

```rails
# app/components/message_component.rb
class MessageComponent < ViewComponent::Base
  attr_reader :name

  def initialize(name:)
    @name = name
  end
end
```

Template:

```erb
<%# app/components/message_component.html.erb %>
<h1>Hello, <%= self.name %>!</h1>
```

Render component:

```erb
<%# app/views/demo/index.html.erb %>
<%= render(MessageComponent.new(name: "World")) %>
```

---

# W3C Web Components

A Suite of different technologies:

* HTLM templates
* Shadow DOM
* Custom elements

---

# HTML Templates

First class support for templates in HTML. Markup templates that can be reused
multiple times.

* Not rendered
* Assets are not loaded
* Clone and insert new node
* Interpolate content with `<slot>`

Example:

```html
<template id="dialog">
  <slot name="title">Default title</slot>
  <p>some content</p>
</template>
```

Usage:

```javascript
const template = document.getElementById("dialog")
const dialog = template.content.cloneNode(true)
document.body.appendChild(dialog)
```

???

Use instead of JavaScript with raw strings and interpolation or Handlebars,
Mustache and similar.

---

# Shadow DOM

Additional encapsulated DOM trees within the main tree.

* Encapsulates the DOM tree
* Encapsulates CSS

???

* Multiple `id` without a conflict

---

# Shadow DOM

## Terminology

* **Shadow host**: The regular DOM node that the shadow DOM is attached to.
* **Shadow tree**: The DOM tree inside the shadow DOM.
* **Shadow boundary**: The place where the shadow DOM ends, and the regular DOM begins.
* **Shadow root**: The root node of the shadow tree.

---

# Shadow DOM

## Usage

### Declaratively

```html
<div id="host">
  <template id="template" shadowroot="open">
    <p>some content</p>
  </template>
</div>
```

(Chrome only)

### Programmatically

```javascript
const host = document.getElementById("host")
const template = document.getElementById("template")
const root = host.attachShadow({ mode: "open" })
root.appendChild(template.content)
```

---

# Shadow DOM

## Cross boundaries

* Use the `.shadowRoot` property to the access to the shadow root
* `.shadowRoot` returns `null` when the mode is `closed`

---

# Shadow DOM

## Caveats

* Does **not** encapsulate JavaScript
* `getElementById`, `querySelector` cannot access the shadow tree
* JavaScript libraries probably need to be adapted

???

* Some JavaScript is encapsulated.

---

# Custom Elements

Allows to define new HTML elements (tags) with custom behavior.

* New elements
* Extend existing elements

## Usage

```javascript
class MenuItem extends HTMLElement
{
  constructor() { /* ... */ }
  connectedCallback() { /* ... */ }
}

customElements.define('menu-item', MenuItem);
```

```html
<menu-item>
  <span>some content</span>
</menu-item>
```

???

* Gives a native connection point between JavaScript and an HTLM element.

---

# Hotwire (Turbo)

Hotwire is an alternative approach to building modern web applications without
using much JavaScript by sending HTML instead of JSON over the wire.

A suite of related technologies:

* Turbo
* Stimulus
* Strada (not available yet)

---

# Hotwire

## Turbo

Similar to Turbolinks but expands the concept.

Two new tags: `turbo-frame` and `turbo-stream`.

---

# Turbo

## Turbo Frames

* Decompose complex pages
* Replace a segment with server side rendered content
* Can only replace content

### Usage

```html
<turbo-frame id="new_message">
  <form action="/messages" method="post"></form>
</turbo-frame>
```

Response

```html
<turbo-frame id="new_message">
  <p>this is the content that will be inserted</p>
</turbo-frame>

<p>content outside the frame will be discarded</p>
```

---

# Turbo

## Turbo Streams

* Deliver live page changes
* Prefect with web sockets
* When content needs other action then replace

### Usage

```html
<turbo-stream action="append" target="messages">
  <template>
    <div id="message_1">My new message!</div>
  </template>
</turbo-stream>
```

---

# Hotwire

## Stimulus

A modest JavaScript framework for the HTML you already have. Controllers for
Javascript.


```html
<!--HTML from anywhere-->
<div data-controller="hello">
  <input data-hello-target="name" type="text">

  <button data-action="click->hello#greet">Greet</button>

  <span data-hello-target="output"></span>
</div>
```

```javascript
// hello_controller.js
import { Controller } from "stimulus"

export default class extends Controller {
  static targets = [ "name", "output" ]

  greet() {
    this.outputTarget.textContent = `Hello, ${this.nameTarget.value}!`
  }
}
```

---

# Catalyst

Web Components made easy. Really small light weight library.

* Created by GitHub
* Similar to Stimulus
* Designed for web components
* Uses TypeScript

---

# Catalyst

## Usage

```html
<hello-world>
  <input data-target="hello-world.name" type="text">

  <button data-action="click:hello-world#greet">Greet</button>

  <span data-target="hello-world.output"></span>
</hello-world>
```

```typescript
import { controller, target } from "@github/catalyst"

@controller
class HelloWorldElement extends HTMLElement {
  @target name: HTMLElement
  @target output: HTMLElement

  greet() {
    this.output.textContent = `Hello, ${this.name.value}!`
  }
}
```

---

# Bootstrap

CSS/JavaScript component framework. Ships with pre-made components.

## Usage

```html
<button type="button" class="btn btn-primary" title="this is tooltip">
  Primary
</button>
```

```javascript
var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
  return new bootstrap.Tooltip(tooltipTriggerEl)
})
```

---

# Tailwind CSS

CSS utility framework.

* Contains a bunch of CSS utility classes
* Write only HTML, no CSS
* Each class specifies a very specific CSS property
* Does not ship with pre-made components

## Usage

```html
<figure class="md:flex bg-slate-100 rounded-xl p-8 md:p-0 dark:bg-slate-800">
  <div class="pt-6 md:p-8 text-center md:text-left space-y-4">
    <blockquote>
      <p class="text-lg font-medium">
        Tailwind CSS is the only framework that I've seen scale on large teams.
        It’s easy to customize, adapts to any design, and the build size is tiny
      </p>
    </blockquote>
    <figcaption class="font-medium">
      <div class="text-sky-500 dark:text-sky-400">
        Sarah Dayan
      </div>
    </figcaption>
  </div>
</figure>
```

---

# Simpe Form

Rails component for easily rendering forms.

* Automatically identifies type of column and selects correct input
* Several integrations
* Reduces duplication

## Usage

```erb
<%= simple_form_for @user do |f| %>
  <%= f.input :username %>
  <%= f.input :password %>
  <%= f.button :submit %>
<% end %>
```

---

# Dart Sass for Rails

Asset pipelines integration with Sass.

* Uses Dart Sass instead of Ruby Sass/Sassc
* Maintained
* No Node 😊
* Part of the Rails project

Dart Sass is the new official implementation of Sass.

---

# Arbre

HTML views in Ruby. Alternative to Erb/Haml.

## Usage

```ruby
# index.html.arb
html lang: I18n.locale do
  head do
    title "Welcome page"
  end

  body do
    para "Hello, world"
    text_node link_to "Google", "google.com"

    if current_user
      render "application/layout"
    end
  end
end
```

---

class: center, middle

# Combining Everything

---

# Web Components

Web components is a new concept in Rails. Combines ViewComponent and WC3 web
components.

Each web component consists of:

* A ViewComponent
* A Custom Element
* The component's styles (stylesheets)
* The component's behavior (scripts) in the form of a Catalyst controller
* Everything is encapsulated using Declarative Shadow DOM

---

# Web Components

## Structure

```
.
└── app
    └── web_components
        └── menu_item
            ├── component.rb
            ├── controller.js.ts
            ├── styles.css.scss
            └── template.html.haml
```

---

# Web Components

## ViewComponent

```ruby
# component.rb

class MenuItem < ViewComponent::Base
  attr_reader :title

  def initialize(title)
    @title = title
  end
end
```

---

# Web Components

## Custom Element

```haml
-# template.html.haml
%menu-item
  %template{ shadowroot: "open" }
    %button{ data: { action: "click:menu-item#click" }= title
```

---

# Web Components

## Catalyst Controller

```typescript
// controller.js.ts
import { controller } from "@github/catalyst"

@controller
class MenuItem extends HTMLElement {
  click() {
    console.log("menu item was clicked")
  }
}
```

---

# Web Components

## Stylesheet

```css
/* styles.css.scss */
menu-item {
  color: red;
}
```

---

# Other

* Use Simple Form
* Use asset pipeline for compilation
* All elements are labeled with a `data-` attribute to make testing easier
    ```haml
    %ul{data: {attribute: "customer"}}
      %li{data: {attribute: "name"}}= object.name
    ```

---

class: center, middle

# Discussion

---

# Template Language?

* Haml
  * Used today
  * Indentation has meaning
* Erb
  * A bit verbose
* Arbre
  * Pure Ruby
  * Helpers are a bit verbose

---

# CSS Language?

* Scss
  * Used today
* Sass
  * Indentation has meaning
* CSS
  * No compilation required
  * Too limiting

---

# Frontend Language?

* JavaScript
  * No compilation required
* TypeScript
* Ruby

---

# JavaScript Framework?

* Stimulus
  * Ships with Rails 7
  * Probably doesn't work with web components
* Catalyst
  * Simple and lightweight
  * Is explicitly designed to work with web components
* Other
* None

---

# CSS Framework?

* Bootstrap
  * Prebuilt components
* Tailwind
  * No prebuilt components
* Other

---

# Shadow DOM?

* Encapsulates CSS and DOM
* Might not be compatible with existing libraries

---

# Templates?

* Probably not needed since we have server side rendering

---

# Custom Elements?

* Gives native integration point for JavaScript
* Native life cycle
* Anchor point for stylesheets

    </textarea>
    <script src="https://remarkjs.com/downloads/remark-latest.min.js">
    </script>
    <script>
      var slideshow = remark.create();
      slideshow.gotoLastSlide()
      // slideshow.gotoSlide(34)
    </script>
  </body>
</html>
